<div class="z-50 bg-altblack text-white w-full flex flex-col md:flex-row justify-between  py-12 px-4 md:px-8 lg:px-16 border-t border-gray-100">
  <div class="md:mr-4">
    <h6 class="font-serif font-bold text-lg">Thanks for Stopping By</h6>
    <p class="mt-4">
      <a href="https://github.com/JacobPfeifer/jacobpfeifer.co" class="underline" target="blank">self-made</a> with these dope open-source tools
      <ul class="mt-2">
        <a href="https://github.com/11ty/eleventy" class="underline" target="blank"><li>eleventy</li></a>
        <a href="https://github.com/tailwindlabs/tailwindcss" class="underline" target="blank"><li>tailwind</li></a>
        <a href="https://github.com/alpinejs/alpine" class="underline" target="blank"><li>alpine</li></a>
      </ul>
    </p>
  </div>
  <div class="mt-12 md:mt-0 md:ml-4">
    <h6 class="font-serif font-bold text-lg">Other Places to Find Me</h6>
      <ul class="mt-4">
        <a href="https://twitter.com/jacobpfeiferco" class="underline" target="blank"><li>twitter</li></a>
        <a href="mailto:himself@jacobpfeifer.co" class="underline" target="blank"><li>himself@jacobpfeifer.co</li></a>
      </ul>
  </div>
</div> 
