<div class="z-50 bg-altblack text-white w-full flex flex-col md:flex-row justify-between  py-12 px-8 md:px-12 lg:px-16 xl:px-20 border-t border-gray-100">
  <div class="md:mr-4">
    <h6 class="pb-4 font-serif font-bold text-lg">Thanks for Stopping By</h6>
    <p class="my-3">
      <a href="https://github.com/JacobPfeifer/jacobpfeifer.co" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">self-made</a> with these dope open-source tools
      <ul class="">
        <li class="mb-3"><a href="https://github.com/11ty/eleventy" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">eleventy</a></li>
        <li class="mb-3"><a href="https://github.com/tailwindlabs/tailwindcss" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">tailwind</a></li>
        <li class="mb-3"><a href="https://github.com/alpinejs/alpine" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">alpine</a></li>
      </ul>
    </p>
  </div>
  <div class="mt-12 md:mt-0 md:ml-4">
    <h6 class="pb-4 font-serif font-bold text-lg">Other Places to Find Me</h6>
      <ul class="mt-3">
        <li class="mb-3"><a href="https://twitter.com/jacobpfeiferco" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">twitter</a>
        <li class="mb-3"><a href="mailto:himself@jacobpfeifer.co" class="underline focus:ring-2 focus:outline-none focus:ring-white focus:no-underline hover:no-underline" target="blank">himself@jacobpfeifer.co</a></li>
      </ul>
  </div>
</div> 
