<div 
  x-data="{ imgModal : false, imgModalSrc : '', imgModalDesc : '' }"
>
  <template @img-modal.window="imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc;" x-if="imgModal">
    <div 
      @click.away="imgModal = ''"
      @keydown.escape.window="imgModal = ''"
      class="fixed w-full h-100 z-50 inset-0 overflow-hidden flex justify-center items-center bg-black "
    >
      <div
        @click.away="imgModal = ''"
        class="z-50 flex flex-col max-h-full overflow-y-auto"
      >
        <button
          @click="imgModal = ''"
          class="flex self-end p-4 outline-none focus:outline-none"
          aria-label="Close"
        >
          <svg 
            class="fill-current text-white"
            xmlns="http://www.w3.org/2000/svg" 
            width="32" 
            height="32" 
            viewBox="0 0 18 18"
          >
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </button>
        <img
          :alt="imgModalDesc" 
          :src="imgModalSrc"
          class="object-contain px-4 m-0 h-auto"
        >
        <p 
          x-text="imgModalDesc" 
          class="text-white pl-4 py-4"
        ></p>
      </div>
    </div>
  </template>
</div>

<div 
  x-data="{}" 
  class=""
>
  <div class="flex justify-start">
      <div class="my-4">
        <a 
          @click="$dispatch('img-modal', {  imgModalSrc: '/content/images/{{ modal_img }}', imgModalDesc: '/content/images/{{ modal_alt }}' })" 
          class="cursor-pointer"
        >
        {% image modal_img, modal_alt %}
        </a>
        <p class="text-sm text-gray-600"> {{ modal_alt }} </p>
        <hr class="m-0">
      </div>
    </div>
</div>