<section class="grid grid-cols-1 lg:grid-cols-2 justify-center content-center pt-8">
	{% for post in postslist | reverse %}
	<article class="card group cursor-pointer shadow-2xl border-box my-8 sm:mx-0 lg:mx-8 max-w-md flex flex-col rounded-lg overflow-hidden border border-gray-900 border-solid shadow-card bg-white transform translate-y-2 hover:translate-y-0 duration-200 ease-in-out" 
	x-data="{
		handleClick() {
			const noTextSelected = !window.getSelection().toString();
			if (noTextSelected) {
				this.$refs.link.click();
			}
		}
	}"
	@click="handleClick"
	>
		<img class="w-full flex-none" src="{{ post.data.img }}" alt="{{ post.data.alt }}">
		<div class="flex flex-1 flex-col justify-between">
			<div class="px-4 pt-6">
				<h3 class="font-medium font-serif text-black text-xl">
					{{ post.data.title }}
				</h3>
				<p class="text-gray-800 text-base py-2">{{ post.data.summary }} 
				</p>
				<a
					x-ref="link"
					class="group-hover:underline focus:ring-2 focus:ring-altblack text-primary"
					href="{{ post.url | url }}"
				>
					View Project →
				</a>
			</div>
			<div class="pt-4 pb-6 px-4">
				{% for skill in post.data.skill %}
					<span class="inline-block text-sm font-medium text-gray-600 mr-4 uppercase">{{ skill }}</span>
				{% endfor %}
			</div>
		</div>
	</article>
	{% endfor %}
</section>

