<section class="grid grid-cols-1 lg:grid-cols-2 justify-center content-center pt-8">
	{% for post in postslist | reverse %}
	<div class="max-w-md rounded-lg overflow-hidden border border-gray-900 border-solid shadow-card my-8 lg:mx-8 bg-white">
		<a href="{{ post.url | url }}">
			<img class="w-full" src="{{ post.data.img }}" alt="{{ post.data.alt }}">
			<div class="px-4 py-6 flex flex-col">
				<div class="font-serif font-medium text-xl mb-2 flex-none">
					{{ post.data.title }}
				</div>
				<p class="text-gray-800 text-base flex-none">
					{{ post.data.summary }}
				</p>
				<div class="pt-6 flex-none justify-self-end ">
					{% for skill in post.data.skill %}
					<span class="inline-block text-sm font-medium text-gray-500 mr-4 uppercase">{{ skill }}</span>
					{% endfor %}
				</div>
			</div>
		</a>	
	</div>
	{% endfor %}
</section>
