---
title: COVID-19 Data Visualization
date: 2021-08-16
summary: A Data Vizualization of the COVID-19 pandeimic in Sedgwick County, KS
img: /content/images/7-day-avg-2020-06-06.png
alt: 
skill: [data viz,tableau]
role: personal project
timeline: summer 2020
---
{% set modal_img = "/content/images/7-day-avg-2020-06-06.png" %}
{% set modal_alt = "" %}
{% include "components/lightbox.njk" %} 

<h2 class="font-serif">Background</h2>

