---
title: Impact Logo and Jersey Design
date: 2021-08-12
summary: I redesigned the logo and jerseys for Impact, an ultimate frisbee team. 
img: impact-logo-before-after.png
alt: On the left side, the original Impact logo. It is a black and white drawing of broken glass. On the right, the current Impact Logo. On a blue circular field, a meteorite races through the stars, with a red a purple trail behind it. 
skill: [Branding,Graphic Design]
tool: [Sketch]
role: Volunteer Designer
timeline: April - May 2019
---
<h2>Background</h2>
<p>I co-founded Impact in 2015 and served as a captain until 2019. Our original logo was starting to look stale. The leadership committee agreed it was time for a visual refresh. I had a few ideas and volunteered my time.</p>

<p class="font-medium">My goal was to create a logo that:
    <ul>
        <li>better captured the team identity</li>
        <li>referenced something unique about our culture in Wichita</li>
        <li>would be more adaptable in size, color, and layout</li>
    </ul>
</p>

{% set modal_img = "impact-logo-2016.png" %}
{% set modal_alt = "Original Logo" %}
{% include "components/lightbox.njk" %} 

<h2>Ideating</h2>
<p>To reference something unique about Wichita, I turned to our city's nickname, "The Air Capital of the World." Wichita experienced a boom in aerospace manufacturing factories in the late 1920s. Those factories have been a source of identity for our city ever since. Additionally, the Kansas State motto is "Ad Astra Per Aspera," which translates: "To the Stars, Through Difficulty." I decided to run with <em>outer space</em> as the theme.</p>

<p>Initially, I had trouble coming up with a visual concept. "Impact" recalls the image of a large object crashing into something else, leaving destruction in its wake. It all felt too violent and morbid. I ultimately decided to merely allude to an impact; instead of visualizing one outright. The subject became a meteorite flying through the earth's atmosphere, debris trail behind it, impact imminent. </p>

<h2>Iterating</h2>

<p>I began experimenting with different visual styles landed on something I liked. I wanted to see if any other frames made sense, and a circle felt best. The meteorite was looking lonely, so I gave it a few star friends. Fun fact: The four-pointed star shape is called an astroid.</p>

{% set modal_img = "impact-iterate-1.png" %}
{% set modal_alt = "Experimenting with meteorite designs" %}
{% include "components/lightbox.njk" %}

<p>I then rearranged the stars into a constellation pattern. That helped the stars feel more natural. Bonus points if you know which constellation I picked. I added a gradient to the debris trail for some visual interest. The state motto was left on the cutting room floor, though it appeared on our jerseys that year!</p>

{% set modal_img = "impact-iterate-2.png" %}
{% set modal_alt = "Refining the star pattern" %}
{% include "components/lightbox.njk" %}

<h2>Logos</h2>
<p>Here is the final set of logos! They come in four styles. Standard versions for use on dark and light backgrounds. Single color and no-gradient debris trail versions for use on our gear.</p>

{% set modal_img = "impact-logo-2019.png" %}
{% set modal_alt = "Final Logo Design" %}
{% include "components/lightbox.njk" %}

<h2>Jerseys and Other Gear</h2>
<p>As they say, "good artists copy; great artists steal". I absolutely took some inspiration from the <a href="https://footballfashion.org/wordpress/2015/11/12/spain-euro-2016-adidas-away-kit/">Spanish</a> and <a href="https://news.nike.com/news/2019-france-womens-football-kit">French</a> national soccer team kits.</p>

<p>Here are a few of my favorite details that made it on the final products.
    <ul>
        <li>Dark: Wichita flag on the sleeve </li>
        <li>White: Astroid-stars repurposed as polka dots</li>
        <li>Both: "Ad Astra Per Aspera" on waist/sleeve</li>
    </ul>
</p>

{% set modal_img = "impact-gear-2019.png" %}
{% set modal_alt = "Jerseys, Shorts, Sun Hoodie, Reversible, and Hat" %}
{% include "components/lightbox.njk" %}

<p>Our manufacturing partners did a great job. Check out how everything looks in real life.</p>

<div class="flex flex-col gap-4">
    <div class="mx-auto grid grid-cols-2 md:grid-cols-3 gap-4">
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "white-jersey.jpg" %}
            {% set modal_alt = "White Jersey" %}
            {% include "components/lightbox.njk" %}
        </div>
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "dark-jersey.jpg" %}
            {% set modal_alt = "Dark Jersey" %}
            {% include "components/lightbox.njk" %}
        </div>
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "shorts.jpg" %}
            {% set modal_alt = "Shorts" %}
            {% include "components/lightbox.njk" %}
        </div>
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "sun-hoodie.jpg" %}
            {% set modal_alt = "Sun Hoodie" %}
            {% include "components/lightbox.njk" %}
        </div>
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "reversible.jpg" %}
            {% set modal_alt = "Reversible" %}
            {% include "components/lightbox.njk" %}
        </div>
        <div class="rounded-lg overflow-hidden justify-self-center self-center">
            {% set modal_img = "hat.jpg" %}
            {% set modal_alt = "Hat" %}
            {% include "components/lightbox.njk" %}
        </div>
    </div>
</div>

<h2 class="">Closing Thoughts</h2>

<p>I am quite proud of the work I did on these. Our logo checks all of the boxes and our jerseys received compliments at almost every tournament we attended. </p>
