---
title: Impact Logo and Jersey Design
date: 2021-08-12
summary: A visual refresh of the logo and jerseys for Impact, an ultimate frisbee team. 
img: /content/images/impact-logo-before-after.png
alt: On the left side, the original Impact logo. It is a black and white drawing of broken glass. On the right, the current Impact Logo. On a blue circular field, a meteorite races through the stars, with a red a purple trail behind it. 
skill: [Branding,Graphic Design]
tool: [Sketch]
role: Volunteer Designer
timeline: Summer 2019
---
{% set modal_img = "/content/images/impact-logo-before-after.png" %}
{% set modal_alt = "Before and After" %}
{% include "components/lightbox.njk" %} 
<p>Impact is an ultimate frisbee club team based out of Wichita, KS. I co-founded the team in 2015 and served as a captain until 2019. After a few years with our original logo, it was time for a visual refresh. My goal was to create a logo that better captured the team identity, referenced something unique about our culture in Wichita, and was more adaptable in size, color, and layout.</p>

{% set modal_img = "/content/images/impact-logo-2016.png" %}
{% set modal_alt = "Original Logo" %}
{% include "components/lightbox.njk" %} 

<p>As an aerospace manufacturing hub, Wichita earned the nicknamed the "Air Capital of the World". Additionally, the Kansas State motto is "Ad Astra Per Aspera" which translates: "To the Stars, Through Difficulty." This gave me the idea of a meteor <em>impacting</em> with the earth. Ultimately I decided to visualize the meteorite flying through the earth's atmosphere, trail behind it, impact imminent.</p>

<p>Iterating through designs I landed on a meteorite style I was happy with and a circle to contain it. With only the meteor in frame, it felt a little empty so I added stars. Fun fact: The four pointed star shape is call an astroid.</p>

{% set modal_img = "/content/images/impact-iterate-1.png" %}
{% set modal_alt = "Iterating..." %}
{% include "components/lightbox.njk" %}

<p>A few tweaks later and we were almost finished. I'm not sure why I wanted to put the current year instead of the year we were founded. Thankfully, that and the Kansas state motto were left on the cutting room floor.</p>

{% set modal_img = "/content/images/impact-iterate-2.png" %}
{% set modal_alt = "More Iterating..." %}
{% include "components/lightbox.njk" %}
<p>Here is the final set of logos!</p>

{% set modal_img = "/content/images/impact-logo-2019.png" %}
{% set modal_alt = "Final Design" %}
{% include "components/lightbox.njk" %}

<p>I also designed our jerseys and other gear that that cycle and I'm super proud of how they turned out.</p>

{% set modal_img = "/content/images/impact-gear-2019.png" %}
{% set modal_alt = "Jerseys, Shorts, Sun Hoodie, Reversible, and Hat" %}
{% include "components/lightbox.njk" %}


 