---
title: Noon - Research and Strategy
date: 2022-08-25
summary: Conducted research with homeowners to understand how they learned about residential solar panels, from passive learning through installation. From there created product ideas and tested those concepts with users.
img: noon-research-our-solution.png
alt: Python Script used to harvest data from the Sedgwick County COVID Dashboard
skill: [Research, Strategy, Concept Validation]
tool: [Miro, Figma]
role: Co-Design Lead with Patricia Nunez and Oliva Posner
timeline: April - July 2022
---

Here are some words just to prove that this thing exists.