---
title: Shared Spaces - Reserve a Meeting Room at the Public Library
date: 2022-08-25
summary: I designed a functioning prototype for a would-be open source application that allows library goers to check availability and reserve meeting rooms at their local library.
img: reserve-a-room.png
alt: Two screenshots of the reserve a meeting room mobile website, side by side on a dark blue background.
skill: [Concept Validation, Usability Testing, Product Design]
tool: [Figma]
role: Sole Designer
timeline: April - May 2022
---


Here are some words