---
title: Welcome
date: 2021-04-14
summary: You're here before I've had a chance to catalog any of my work.
img: /content/images/welcome.jpg
alt: Illustration of a microscope, vial, and beaker. The beaker is bubbling with an orange liquid.
skill:
---
<p>
You've stumbled on my portolio page before I've had a chance to catalog my projects. I'm currently working on a few things that will live here soon. Thank you for making it this far! I hope you come back when I have work to show off. </p>
</p>

{% set modal_img = "/content/images/welcome.jpg" %}
{% set modal_alt = "Illustration of a microscope, vial, and beaker. The beaker is bubbling with an orange liquid." %}
{% include "components/lightbox.njk" %}
