---
layout: layouts/base.njk
section: page
---
<article class="px-4 md:px-8 lg:px-16 mb-16 grid grid-cols-1 justify-center ">
    <div class="mx-auto max-w-lg">
        <h1 class="font-medium text-4xl font-serif text-center mt-16 mb-0 mx-0 p-0">{{ title }}</h1>
        <h2 class="font-sans text-xl font-normal text-center mt-1 mb-0 mx-0 p-0">{{ subtitle }}</h2>
        <p class="text-center text-lg mt-8 leading-6 ">I am driven by empathy and am energized by hearing from people with experiences and perspectives different from my own. I flourish when designing for equity and inclusivity.</p>
    </div>
</article>
<div class="bg-gray-200 h-full px-4 md:px-8 lg:px-8 flex justify-center pb-12">
    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
</div>

   

